.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.home-link {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-text-color);
}

.home-link > svg {
  fill: var(--primary-color);
}

nav {
  display: flex;
  gap: 20px;
}

nav svg {
  fill: var(--secondary-text-color);
}

nav svg:hover {
  fill: var(--primary-text-color);
}

svg {
  width: 30px;
  height: 30px;
}

#top-navbar {
  box-shadow: inset 0px 10px 20px -15px rgba(0, 0, 0, 0.15), 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

.top-navbar {
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.top-navbar a:hover,
.active {
  text-decoration: underline var(--primary-color);
  text-underline-offset: 15px;
  text-decoration-thickness: 4px;
}

#main {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.breadcrumb-container {
  color: lightgrey;
}

.breadcrumb-container a:last-child {
  color: var(--primary-color);
}

aside#side-navbar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

aside#side-navbar h1 {
  font-size: 24px;
}

.side-navbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  color: var(--secondary-text-color);
}

.side-navbar > .selected {
  color: var(--primary-color);
  font-weight: bold;
}

.side-navbar a:hover {
  color: var(--primary-text-color);
}

#content {
  flex: 1;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.card {
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-header {
  display: flex;
  gap: 52px;
}

.card-image {
  aspect-ratio: 9/16;
  height: 450px;
  object-fit: cover;
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card-title {
  font-size: 24px;
}

.card-author {
  color: var(--secondary-text-color);
  font-size: 18px;
}

.rating {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
}

.rating > span {
  color: var(--secondary-text-color);
}

.star > svg {
  height: 18px;
  width: unset;
}

.star.filled > svg {
  fill: yellow;
}

.star > svg {
  fill: var(--secondary-text-color);
}

.price {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.price .original {
  text-decoration: line-through;
  color: var(--secondary-text-color);
}

.price .discount {
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
  border-radius: 5px;
  padding: 5px 20px;
}

.book-description {
  font-size: 18px;
  color: var(--secondary-text-color);
  line-height: 1.5;
}

.call-to-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.heart-container > span.heart {
  fill: red;
  cursor: pointer;
}

.in-stock-container {
  display: flex;
  align-items: center;
  gap: 80px;
}

.in-stock {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
}

.btn {
  border: solid 2px var(--primary-color);
  border-radius: 9999px;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--white);
  color: black;
  border: solid 2px var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.btn-primary:active {
  transform: scale(0.95);
}

.card-body {
  margin-block: 52px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid lightgrey;
  padding: 20px 52px 20px 30px;
  text-align: left;
  font-size: 18px;
  color: var(--secondary-text-color);
}

th:first-child,
td:first-child {
  background-color: rgb(233, 233, 233);
  width: 1%;
  white-space: nowrap;
}

.horizontal-line {
  border-bottom: 1px solid lightgrey;
  margin-block: 40px;
}

.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  color: var(--primary-text-color);
}

.comment-image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 9999px;
}

.comment-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-name {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}

.comment-rating {
  margin-inline: 10px;
}

.comment-date {
  color: rgb(161, 161, 161);
}

.comment-header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.comment-text {
  padding-left: 84px;
}

.add-review-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-control {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  color: var(--secondary-text-color);
  resize: none;
}

.add-review-form button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
}

input:focus {
  outline: none;
}

input:valid {
  border-color: green;
}

textarea:valid {
  border-color: green;
}

textarea:focus {
  outline: none;
}

.notification {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 1124px) {
  .card-header {
    gap: 20px;
  }

  .card-image {
    height: 350px;
  }

  .card-description {
    gap: 20px;
  }

  .book-description {
    font-size: 16px;
  }

  .in-stock-container {
    gap: 40px;
  }

  .in-stock {
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
    padding: 10px 20px;
  }

  th,
  td {
    padding: 10px 26px 10px 15px;
    font-size: 16px;
  }

  .card-title {
    font-size: 18px;
  }

  .horizontal-line {
    margin-block: 20px;
  }

  .comment {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 916px) {
  #side-navbar {
    display: none !important;
  }

  .book-description {
    font-size: 14px;
  }

  .price {
    font-size: 20px;
  }
}

@media screen and (max-width: 670px) {
  .card-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-image {
    width: 50%;
    height: auto;
  }

  .top-navbar {
    flex-wrap: wrap;
  }

  .top-navbar a {
    margin: 9px 5px 18px 5px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: unset !important;
  }

  .header-container {
    padding: 0 20px !important;
  }

  .call-to-action {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .in-stock-container {
    width: 100%;
    gap: unset;
    justify-content: space-between;
  }

  th,
  td {
    padding: 5px 13px 5px 7px;
    font-size: 14px;
  }
}

@media screen and (max-width: 426px) {
  .card-header {
    margin-bottom: 20px;
  }

  .card-body {
    display: none;
  }

  .comment-header {
    flex-direction: column;
  }

  .comment-text {
    padding: unset;
  }

  .card-description {
    align-items: center;
  }

  .call-to-action {
    align-items: center;
    gap: 20px;
  }

  .in-stock-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
